<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css"/>
    <meta charset="UTF-8">
    <title th:text="${id} + '/' + ${username}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/nav_panel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/home.css}">
</head>
<body>
    <div th:replace="fragments/nav_panel :: nav_panel"></div>
    <header th:replace="fragments/header :: header"></header>
    <main th:object="${currentUser}">
        <!--<div class="avatar_block">-->
            <!--<img th:src="@{'/images/avatar/' + ${avatar}}" alt="аватар">-->
        <!--</div>-->
        <!--<div class="role" sec:authorize="hasRole('ROLE_STUDENT')">-->
            <!--<span>Студент</span>-->
        <!--</div>-->
        <!--<div class="fullname">-->
            <!--<span class="abbr">ФИО:</span>-->
            <!--<div>-->
                <!--<span class="surname" th:text="*{surname}"></span>-->
                <!--<span class="name" th:text="*{name}"></span>-->
                <!--<span class="patronymic" th:text="*{patronymic}"></span>-->
            <!--</div>-->
            <!--<img src="/images/home/fullname.png" alt="img">-->
        <!--</div>-->
        <!--<div class="user_data">-->
            <!--<div>-->
                <!--<div class="birthday">-->
                    <!--<img src="/images/home/birthday.png" alt="birth">-->
                    <!--<span>День рождения:</span>-->
                    <!--<span th:text="*{#temporals.format(birthday, 'd MMMM, yyyy')}"></span>-->
                <!--</div>-->
                <!--<div class="hometown">-->
                    <!--<img src="/images/home/hometown.png" alt="hometown">-->
                    <!--<span>Родной город:</span>-->
                    <!--<span th:text="*{hometown}"></span>-->
                <!--</div>-->
                <!--<div class="mail">-->
                    <!--<img src="/images/home/mail.png" alt="mail">-->
                    <!--<span>Почта:</span>-->
                    <!--<span th:text="*{mail}"></span>-->
                <!--</div>-->
                <!--<div class="number">-->
                    <!--<img src="/images/home/number.png" alt="number">-->
                    <!--<span>Ном. телефона:</span>-->
                    <!--<span th:text="*{number}"></span>-->
                <!--</div>-->
                <!--<div class="rating" sec:authorize="hasRole('ROLE_USER')">-->
                    <!--<span>Рейтинг:</span>-->
                    <!--<span th:text="*{rating}"></span>-->
                    <!--<img src="/images/home/star.png" alt="star">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>