<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/registration.css}">
</head>
<body>
    <main>
        <div class="heading"><h1>Регистрация</h1></div>
        <div class="registr_block">
            <form method="post" th:action="@{/registration}" th:object="${newUser}">
                <div class="username">
                    <label for="username">Имя пользователя:<input id="username" type="text" th:field="*{username}"></label>
                </div>
                <div class="password">
                    <label for="password">Пароль:<input id="password" type="password" th:field="*{password}"></label>
                </div>
                <div class="matching">
                    <label for="matching">Подтверждение пароля:<input id="matching" type="password" th:field="*{matchingPassword}"></label>
                </div>
                <div class="surname">
                    <label for="surname">Фамилия:<input id="surname" type="text" th:field="*{surname}"></label>
                </div>
                <div class="name">
                    <label for="name">Имя:<input id="name" type="text" th:field="*{name}"></label>
                </div>
                <div class="patronymic">
                    <label for="patronymic">Отчество:<input id="patronymic" type="text" th:field="*{patronymic}"></label>
                </div>
                <div class="birthday">
                    <label for="birthday">День рождения:<input id="birthday" type="date" th:field="*{birthday}"></label>
                </div>
                <div class="mail">
                    <label for="mail">Эл.почта:<input id="mail" type="email" th:field="*{mail}"></label>
                </div>
                <div class="hometown">
                    <label for="hometown">Город:<input id="hometown" type="text" th:field="*{hometown}"></label>
                </div>
                <div class="number">
                    <label for="number">Номер тел.:<input id="number" type="text" th:field="*{number}"></label>
                </div>
                <button class="submit" type="submit">Зарегистрироваться</button>
            </form>
            <div class="redirect_login">
                <span>Уже есть аккаунт? <a th:href="@{/login}">Войти</a></span>
            </div>
        </div>
    </main>
</body>
</html>