<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Select user role</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/nav_panel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/footer.css}">
</head>
<body>
    <main>
        <div class="role_block">
            <form method="post" th:action="@{/select_role}">
                <input class="student_inp" type="submit" th:name="student">
                <input class="hrManager_inp" type="submit" th:name="hrManager">
                <input class="director_inp" type="submit" th:name="director">
            </form>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>