* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.block {
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 420px;
    box-shadow: 0 0 2px 0;
}

.head {
    float: left;
    width: 400px;
    margin-top: 30px;
    margin-left: 400px;
}

.education {
    float: left;
    margin-top: 100px;
    margin-left: -400px;
}

.specialty {
    float: left;
    margin-top: 70px;
    margin-left: 61px;
}

.training_time {
    float: left;
    width: 400px;
    height: 100px;
    margin-top: 10px;
    margin-left: 56px;
}

.training_time strong {
    float: left;
    margin-top: 30px;
    margin-left: 5px;
}

.training_time input {
    width: 163px;
}

.start {
    float: left;
    margin-left: 20px;
}

.start strong {
    margin-top: 10px;
}

.start input {
    margin-top: 10px;
    margin-left: 5px;
}

.end {
    float: left;
    height: 30px;
    margin-top: -5px;
    margin-left: 30px;
}

.end input {
    margin-top: 27px;
    margin-left: 5px;
}

.additional_education {
    float: left;
    margin-left: 50px;
}

.submit {
    float: left;
    margin-top: 50px;
    margin-left: -165px;
    width: 165px;
    height: 30px;
}