.heading {
    position: absolute;
    top: 120px;
    left: 530px;
}

.edit_form {
    position: absolute;
    top: 170px;
    left: 450px;
    width: 400px;
    height: 480px;
    background-color: snow;
    text-align: center;
    border-top: 30px solid crimson;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.username {
    float: left;
    margin-top: 30px;
    margin-left: 70px;
}

.password {
    float: left;
    margin-top: 10px;
    margin-left: 95px;
}

.matching {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}

.surname {
    float: left;
    margin-top: 10px;
    margin-left: 83px;
}

.name {
    float: left;
    margin-top: 10px;
    margin-left: 117px;
}

.patronymic {
    float: left;
    margin-top: 10px;
    margin-left: 80px;
}

.birthday {
    float: left;
    margin-top: 10px;
    margin-left: 39px;
}

.birthday input {
    width: 162px;
}

.number {
    float: left;
    margin-top: 10px;
    margin-left: 70px;
}

.hometown {
    float: left;
    margin-top: 10px;
    margin-left: 105px;
}

.mail {
    float: left;
    margin-top: 10px;
    margin-left: 83px;
}

.avatar {
    float: left;
    margin-top: 10px;
    margin-left: 117px;
}

.group {
    float: left;
    margin-top: 10px;
    margin-left: 58px;
}

.faculty {
    float: left;
    margin-top: 10px;
    margin-left: 75px;
}

.submit {
    width: 180px;
    height: 30px;
    margin-top: 20px;
}

.department {
    float: left;
    margin-top: 10px;
    margin-left: 75px;
}

.company {
    float: left;
    margin-top: 10px;
    margin-left: 75px;
}

