body {
    font-family: "Times New Roman", sans-serif;
}

.avatar_block {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    height: 300px;
    background-color: snow;
    box-shadow: 0 0 2px 0;
}

.avatar_block img {
    width: 280px;
    height: 280px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 2px 0;
}

.role {
    float: left;
    margin-top: 330px;
    margin-left: -300px;
    width: 300px;
    height: 50px;
    background-color: CornflowerBlue;
    box-shadow: 0 0 2px 0;
    text-align: center;
}

.role span {
    color: white;
    display: block;
    margin-top: 10px;
    font-size: 25px;
}

.fullname {
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    width: 500px;
    height: 40px;
    background-color: snow;
    box-shadow: 0 0 2px 0;
}

.fullname .abbr {
    float: left;
    padding: 7px;
    font-size: 20px;
}

.fullname div {
    width: 250px;
    height: 20px;
    margin-top: 7px;
    margin-left: 50px;
    font-size: 20px;
}

.fullname img {
    float: left;
    width: 35px;
    height: 30px;
    margin-top: -23px;
    margin-left: 390px;
}

.delete_button {
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    width: 250px;
    height: 40px;
    box-shadow: 0 0 1px 0;
    font-size: 15px;
}

.user_data {
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    width: 500px;
    height: 300px;
    background-color: snow;
    box-shadow: 0 0 2px 0;
}

.user_data .birthday {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
    width: 300px;
    height: 30px;
}

.user_data .birthday img {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.user_data .birthday span {
    float: left;
    margin-top: 12px;
    margin-left: 5px;
}

.user_data .hometown {
    float: left;
    margin-top: 10px;
    margin-left: 17px;
    width: 250px;
    height: 30px;
}

.user_data .hometown img {
    float: left;
    width: 25px;
    height: 25px;
}

.user_data .hometown span {
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}

.user_data .mail {
    float: left;
    margin-left: 10px;
    width: 400px;
    height: 30px;
}

.user_data .mail img {
    float: left;
    width: 40px;
    height: 40px;
}

.user_data .mail span:nth-child(2) {
    float: left;
    margin-left: -5px;
    margin-top: 10px;
}

.user_data .mail span:nth-child(3) {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.user_data .number {
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    width: 400px;
    height: 30px;
}

.user_data .number img {
    float: left;
    width: 20px;
    height: 20px;
}

.user_data .number span:nth-child(2) {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

.user_data .number span:nth-child(3) {
    float: left;
    margin-left: 5px;
    margin-top: 2px;
}

.user_data .rating {
    float: right;
    margin-top: -205px;
    margin-right: 10px;
}

.user_data .rating span:nth-child(1) {
    float: left;
}

.user_data .rating span:nth-child(2) {
    float: left;
    margin-top: 1px;
    margin-left: 5px;
}

.user_data .rating img {
    float: right;
    margin-top: -5px;
    width: 30px;
    height: 30px;
}

.user_data .director {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    width: 400px;
    height: 30px;
}

.user_data .director img {
    float: left;
    margin-left: -5px;
    width: 20px;
    height: 20px;
}

.user_data .manager {
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    width: 400px;
    height: 30px;
}

.user_data .manager img {
    float: left;
    margin-top: -5px;
    margin-left: -5px;
    width: 20px;
    height: 20px;
}

.user_data .group_number {
    float: left;
    margin-top: 5px;
    margin-left: 45px;
    width: 400px;
    height: 30px;
}

.user_data .group_number img {
    float: left;
    margin-top: -5px;
    margin-left: -30px;
    width: 30px;
    height: 30px;
}

.user_data .faculty {
    float: left;
    margin-top: 5px;
    margin-left: 45px;
    width: 400px;
    height: 30px;
}

.user_data .faculty img {
    float: left;
    margin-top: -5px;
    margin-left: -30px;
    width: 25px;
    height: 25px;
}

.certificate_table {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 1100px;
    min-height: 400px;
    background-color: gainsboro;
    box-shadow: 0 0 1px 0;
}

.certificate_table .title {
    width: 100%;
    height: 50px;
    background-color: CornflowerBlue;
    box-shadow: 0 0 2px 0;
}

.certificate_table .title div {
    float: left;
    margin-top: 10px;
    margin-left: 480px;
    width: 100px;
    height: 20px;
    color: snow;
    font-size: x-large;
}

.certificate_table .title a {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    margin-top: 10px;
}

.certificate_table .title a img {
    width: 30px;
    height: 30px;
}

.certificate_table .empty_list {
    position: absolute;
    top: 660px;
    left: 420px;
    width: 600px;
    height: 30px;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.certificate_table .all_certificates .certificate {
    float: left;
    width: 250px;
    height: 320px;
    border: 1px solid gray;
    box-shadow: 0 0 2px 0;
    margin-top: 20px;
    margin-left: 15px;
}

.certificate_table .all_certificates .certificate .competency {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

.certificate_table .all_certificates .certificate img {
    width: 230px;
    height: 230px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid silver;
}

.certificate_table .all_certificates .certificate .delete {
    float: left;
    width: 233px;
    height: 30px;
    margin-left: 10px;
    color: snow;
    background-color: #ba2b2b;
    box-shadow: 0 0 3px 0;
    border: none;
}
