a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

.heading {
    position: absolute;
    top: 30px;
    left: 530px;
}

.registr_block {
    position: relative;
    top: 100px;
    left: 415px;
    width: 400px;
    height: 410px;
    background-color: snow;
    text-align: center;
    border-top: 30px solid crimson;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.registr_block form {
    position: absolute;
    top: 20px;
    left: 30px;
    text-align: right;
}

.registr_block form div {
    margin-bottom: 10px;
    margin-left: -20px;
}

.registr_block form div input {
    margin-left: 10px;
}

.registr_block form .birthday input {
    width: 160px;
}

.registr_block form button {
    width: 165px;
    height: 30px;
}

.redirect_login {
    position: absolute;
    top: 380px;
    left: 180px;
}