<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/footer.css}">
</head>
<body>
    <div th:fragment="footer" id="footer">
        <div class="address">
            <h3>Наш адрес</h3>
            <ul class="ul-style">
                <li><h4>Адрес:</h4><p>115569, Москва, Шипиловский проезд, дом 37, корпус 1</p></li>
                <li><h4>Станция метро:</h4><p>Орехово</p></li>
                <li><h4>Как нас найти:</h4><p>ст.м. Орехово, первый вагон из центра, после стеклянных дверей направо, обойти справа торговый павильон и перейти дорогу</p></li>
            </ul>
        </div>
        <div class="contacts">
            <h3>Контактные данные</h3>
            <ul class="ul-style">
                <li>
                    <h4>Директор:</h4>
                    <p>Седова Наталья Николаевна</p>
                    <p><a href="mailto:SedovaNN@edu.mos.ru">SedovaNN@edu.mos.ru</a></p>
                    <p><a style="width: 150px" href="tel:+7(495)391-23-33">+7(495)391-23-33</a></p>
                    <p>Добавочный: +7(916)487-11-97</p>
                </li>
                <li>
                    <h4>Приёмная директора:</h4>
                    <p>Фадина Надежда Владимировна</p>
                    <p><a style="width: 150px" href="tel:+7(495)391-23-33">+7(495)391-23-33</a></p>
                </li>
                <li>
                    <h4>Адрес электронной почты:</h4>
                    <p><a href="mailto:tsaritsino@edu.mos.ru">tsaritsino@edu.mos.ru</a></p>
                </li>
            </ul>
        </div>
        <div class="administration">
            <ul class="ul-style">
                <li>
                    <h4>Председатель МРСД:</h4>
                    <p>Уколова Елена Васильевна</p>
                    <p><a style="width: 150px" href="tel:+7(495)341-44-73">+7(495)341-44-73</a></p>
                    <p><a href="mailto:UkolovaEV@edu.mos.ru">UkolovaEV@edu.mos.ru</a></p>
                </li>
                <li>
                    <h4>Инспектор округа:</h4>
                    <p style="width: 250px">Шамшиева Вероника Толкуналиевна</p>
                    <p><a style="width: 150px" href="tel:+7(495)957-75-00">+7(495)957-75-00</a></p>
                    <p>Добавочный: 39298</p>
                    <p><a href="mailto:ShamshievaVT@mos.ru">ShamshievaVT@mos.ru</a></p>
                </li>
                <li>
                    <h4>Куратор округа:</h4>
                    <p>Алимов Гайяр Таерович</p>
                    <p><a style="width: 150px" href="tel:+7(495)366-43-76">+7(495)366-43-76</a></p>
                    <p><a href="mailto:AlimovGT@mos.ru">AlimovGT@mos.ru</a></p>
                </li>
                <li>
                    <h4>Представитель учредителя в Управляющем совете:</h4>
                    <p>Партолин Николай Иванович</p>
                    <p><a style="width: 150px" href="tel:+7(499)638-23-52">+7(499)638-23-52</a></p>
                    <p>Добавочный: 1125</p>
                    <p><a href="mailto:partolin@mcko.ru">partolin@mcko.ru</a></p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>