<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/nav_panel.css}">
</head>
<body>
    <nav th:fragment="nav_panel" class="nav_panel">
        <div id="logo">
            <a href="#">
                <img src="/images/nav_panel/logo.png" alt="logo">
            </a>
        </div>
        <ul class="list_links">
            <li><a th:href="@{/home}"><img src="/images/nav_panel/home.png" alt="home"></a></li>
            <li th:if="${currentUser.role} == 'ADMIN'"><a th:href="@{/confirm_certificates}"><img src="/images/nav_panel/news.png" alt="event"></a></li>
            <li th:if="${currentUser.role} == 'ADMIN'"><a th:href="@{/registration}"><img src="/images/nav_panel/add_user.png" alt="students"></a></li>
            <!--<li><a href="#"><img src="/images/nav_panel/events.png" alt="events"></a></li>-->
        </ul>
    </nav>
</body>
</html>
